@tailwind base;
html,
#__next {
  @apply h-full;
}
body {
  @apply font-raleway h-full;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold font-raleway text-neutral-800;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}
p,
li {
  @apply text-base font-raleway text-neutral-900 font-normal;
}
button,
a {
  @apply font-raleway outline-none;
}
img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

@tailwind components;
@tailwind utilities;
